.highcharts-tooltip-container {
    z-index: 1050 !important;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: rgb(45, 45, 45);
}

::-webkit-scrollbar-thumb {
    background: rgb(105, 105, 105);
    background-clip: padding-box;
    border: 2px solid rgba(0, 0, 0, 0);
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(145, 145, 145);
    background-clip: padding-box;
    border: 2px solid rgba(0, 0, 0, 0);
    -webkit-border-radius: 100px;
}